TeamBoard/Service References/TeamBoardService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeamBoardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITeamBoardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TeamBoard.Commands" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TeamBoard.Events" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeamBoardService_ProcessCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCommand" />
  </wsdl:message>
  <wsdl:message name="ITeamBoardService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ITeamBoardService_HandleEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HandleEvent" />
  </wsdl:message>
  <wsdl:message name="ITeamBoardService_HandleHistory_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HandleHistory" />
  </wsdl:message>
  <wsdl:message name="ITeamBoardService_PingBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PingBack" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ITeamBoardService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProcessCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamBoardService/ProcessCommand" message="tns:ITeamBoardService_ProcessCommand_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamBoardService/Ping" message="tns:ITeamBoardService_Ping_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HandleEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamBoardService/HandleEvent" message="tns:ITeamBoardService_HandleEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HandleHistory">
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamBoardService/HandleHistory" message="tns:ITeamBoardService_HandleHistory_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PingBack">
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamBoardService/PingBack" message="tns:ITeamBoardService_PingBack_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITeamBoardService" type="tns:ITeamBoardService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITeamBoardService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ProcessCommand">
      <soap12:operation soapAction="http://tempuri.org/ITeamBoardService/ProcessCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/ITeamBoardService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="HandleEvent">
      <soap12:operation soapAction="http://tempuri.org/ITeamBoardService/HandleEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandleHistory">
      <soap12:operation soapAction="http://tempuri.org/ITeamBoardService/HandleHistory" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingBack">
      <soap12:operation soapAction="http://tempuri.org/ITeamBoardService/PingBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamBoardService">
    <wsdl:port name="NetTcpBinding_ITeamBoardService" binding="tns:NetTcpBinding_ITeamBoardService">
      <soap12:address location="net.tcp://localhost:8008/TeamBoardService/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8008/TeamBoardService/tcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>